header {
	text-align: center;
}

.card-container {
	display: flex;
	justify-content: space-around;
}

.color-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	width: 15%;
	height: 200px;
	border: 2px solid black;
	cursor: pointer;
}

.lock-icon {
	height: 24px;
	width: 24px;
	background-image: url('../../assets/unlocked.svg');
}

.locked {
	background: yellow;
}

.locked .lock-icon {
	background-image: url('../../assets/unlocked.svg');
}

.input-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin-top: 50px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-around;
	height: 100px;
}
