header {
	text-align: center;
}

.card-container {
	display: flex;
	justify-content: space-around;
}

.color-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	width: 15%;
	height: 200px;
	border: 2px solid black;
}

.lock-icon {
	height: 24px;
	width: 24px;
	background-image: url('../../assets/unlocked.svg');
}
