* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	margin-bottom: 5px;
}

header h1,
header h4 {
	margin: 0 5px;
}

header h4 {
	color: lightgray;
}

.card-container {
	display: flex;
	justify-content: space-around;
}

.color-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	width: 20%;
	height: 50vh;
}

/*.hover-container {
  display: none;
  height: 50px;
  width: 75px;
  background-color: rgba(255, 0, 0, 0.5);
}*/

.lock-icon {
	display: none;
	height: 24px;
	width: 24px;
	cursor: pointer;
	background-image: url('../assets/unlocked.svg');
}

.locked {
	background: yellow;
}

.locked .lock-icon {
	display: block;
	background-image: url('../assets/locked.svg');
}

.hex-code {
	display: none;
}

.locked .hex-code {
	display: block;
}

.color-card:hover .lock-icon,
.color-card:hover .hex-code {
	display: block;
}

.input-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin-top: 25px;
}

.form-top {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
